.resume-side{
  background: #c2b29a;
  /*background: #c7a5c2;*/
}

.resume-preview {
  zoom: 80%;
  width: 100%;
  max-width: 100%;
  min-height: 75%;
  max-height: 75%;
  overflow-x: auto;
  overflow-y: auto;
}
