<main class="block m-2">
  <nav class="navbar">
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-brand">
          <figure class=" navbar-item image is-64x64">
            <img src="https://bulma.io/assets/images/placeholders/128x128.png"/>
          </figure>
        </div>
        <div class="navbar-start">
          <div class="buttons">
            <a class="button is-light is-small">Templates modals</a>
            <a class="button is-light is-small">Colors</a>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-dark is-small">Github</a>
              <a class="button is-info is-small">Download</a>
            </div>
          </div>
        </div>
      </div>
  </nav>
  <div class="columns m-1">
    <div class="column is-3">
      <table class="table is-hoverable is-bordered is-fullwidth resume-side">
        <tbody>
          <tr>
            <td>test</td>
          </tr>
          <tr>
            <td>test</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column resume-preview">
      <app-preview></app-preview>
    </div>
  </div>

</main>
