<div class="content is-small" *ngIf="initUserData | async as userData; else noPreview">
  <p class="message">{{userData.firstName}}</p>
<!--  <img [src]="getImageUrl(userData.userDetails.image)" alt="" fill>-->
    <table class="table is-striped">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let network of userData.userDetails.networks; let i = index;">
        <td>
          {{ network.name }}
        </td>
        <td>{{ network.referenceName }}
        <td>{{ network.link }}
      </tr>
      <tr *ngFor="let education of userData.userDetails.educations; let i = index;">
        <td>
          {{ education.school }}
        </td>
        <td>{{ education.degree }}
        <td>{{ education.duration }}
        <td>{{ education.startDate }}
        <td>{{ education.endDate }}
      </tr>
      <tr *ngFor="let workExp of userData.userDetails.workExperiences; let i = index;">
        <td>
          {{ workExp.company }}
        </td>
        <td>{{ workExp.occupiedPosition }}
        <td>{{ workExp.companyLink }}
        <td>{{ workExp.companyCity }}
        <td>{{ workExp.startDate }}
        <td>{{ workExp.endDate }}
        <td>
          <!-- Loop over workExp.summary -->
          <span *ngFor="let w of workExp.summary">{{ w }}</span>
        </td>
      </tr>
      </tbody>
    </table>
</div>
<ng-template #noPreview>
  <p>No data to preview now</p>
</ng-template>
