<section class="hero">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <app-navbar [isModalOpen$]=(isModalOpen$)></app-navbar>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body has-navbar-fixed-top">
      <div class="columns is-2 is-fullheight pt-3">
        <div [ngClass]="{'is-active' : (isModalOpen$ | async)}" class="modal" id="template-selection">
          <div class="modal-background"></div>
          <div class="modal-content template-image">
            <div class="columns is-multiline is-centered">
              <div class="column ">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by5">
                      <img class="template-image" src="{{selectedTemplate.image}}" [alt]="selectedTemplate.name">
                    </figure>
                  </div>
                  <footer class=" is-flex is-justify-content-between">
                    <div class="card-footer-item">
                      <span (click)="previousTemplate()" [ngClass]="{'is-clickable' : resumeTemplates.length > 1 }"
                            class="icon is-small">
                        <i class="ri-arrow-left-circle-fill"></i>
                      </span>
                    </div>
                    <div class="card-footer-item">
                      <span class="is-text is-small">
                       {{ selectedTemplate.name }}
                      </span>
                    </div>
                    <div class="card-footer-item">
                      <span (click)="nextTemplate()" [ngClass]="{'is-clickable' : resumeTemplates.length > 1 }"
                            class="icon is-small">
                        <i class="ri-arrow-right-circle-fill"></i>
                      </span>
                    </div>
                  </footer>
                </div>
              </div>
            </div>
          </div>
          <button class="modal-close is-large" (click)="closeModal()" aria-label="close"></button>
        </div>
        <div [ngClass]="{'is-3': isSmall}" class="column sidebar is-one-fifth">
          <aside class="menu">
            <p class="menu-label">Settings</p>
            <ng-container *ngIf="showSideBar">
              <ul class="menu-list">
                <li>
                  <a (click)="collectDetailsOf('user')"
                     class="is-flex is-justify-content-space-between" id="User">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-id-card-line"></i></span>
                      <span>USER</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
                <li>
                  <a (click)="collectDetailsOf('basics')"
                     class="is-flex is-justify-content-space-between" id="User Basics">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-shield-user-line"></i></span>
                      <span>BASICS</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
                <li>
                  <a (click)="collectDetailsOf('networks')"
                     class="is-flex is-justify-content-space-between" id="Networks">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-global-line"></i></span>
                      <span>NETWORKS</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
                <li>
                  <a (click)="collectDetailsOf('educations')"
                     class="is-flex is-justify-content-space-between" id="Educations">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-book-marked-line"></i></span>
                      <span>EDUCATIONS</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
                <li>
                  <a (click)="collectDetailsOf('work experiences')"
                     class="is-flex is-justify-content-space-between" id="Work Experiences">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-luggage-deposit-line"></i></span>
                      <span>WORK EXPERIENCES</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
                <li>
                  <a (click)="collectDetailsOf('technical experiences')"
                     class="is-flex is-justify-content-space-between" id="Technical Experiences">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-node-tree"></i></span>
                      <span class="text-container">TECHNICAL EXPERIENCES</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
                <li>
                  <a (click)="collectDetailsOf('skills')"
                     class="is-flex is-justify-content-space-between" id="Skills">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-sparkling-line"></i></span>
                      <span>SKILLS</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
                <li>
                  <a (click)="collectDetailsOf('tools')"
                     class="is-flex is-justify-content-space-between" id="Tools">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-hammer-line"></i></span>
                      <span>TOOLS</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
                <li>
                  <a (click)="collectDetailsOf('methodologies')"
                     class="is-flex is-justify-content-space-between" id="Methodologies">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-pass-pending-line"></i></span>
                      <span>METHODOLOGIES</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
                <li>
                  <a (click)="collectDetailsOf('interests')"
                     class="is-flex is-justify-content-space-between" id="Interests">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-bubble-chart-fill"></i></span>
                      <span>INTERESTS</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
                <li>
                  <a (click)="collectDetailsOf('certifications')"
                     class="is-flex is-justify-content-space-between" id="Certifications">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-medal-line"></i></span>
                      <span>CERTIFICATIONS</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
                <li>
                  <a (click)="collectDetailsOf('trainings')"
                     class="is-flex is-justify-content-space-between" id="Trainings">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-recycle-line"></i></span>
                      <span>TRAININGS</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
                <li>
                  <a (click)="collectDetailsOf('language')"
                     class="is-flex is-justify-content-space-between" id="Language">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-translate-2"></i></span>
                      <span>LANGUAGES</span>
                    </span>
                    <span class="icon"><i class="ri-arrow-right-line"></i></span>
                  </a>
                </li>
              </ul>
            </ng-container>

            <ng-container *ngIf="!showSideBar">
              <ul class="menu-list mb-2">
                <li>
                  <a class="is.flex is-justify-content-space-between" (click)="closeSection()">
                    <span class="icon-text">
                      <span class="icon"><i class="ri-arrow-left-line"></i></span>
                      <span>{{ actualSection.toUpperCase() }}</span>
                    </span>
                  </a>
                </li>
              </ul>
            </ng-container>

            <app-user *ngIf="!showSideBar && actualSection == 'user'"></app-user>
            <app-user-basics *ngIf="!showSideBar && actualSection == 'basics'"></app-user-basics>
            <app-networks *ngIf="!showSideBar && actualSection == 'networks'"></app-networks>
            <app-educations *ngIf="!showSideBar && actualSection == 'educations'"></app-educations>
            <app-work-experiences *ngIf="!showSideBar && actualSection == 'work experiences'"></app-work-experiences>
            <app-tech-experiences *ngIf="!showSideBar && actualSection == 'technical experiences'">
            </app-tech-experiences>
            <app-skills *ngIf="!showSideBar && actualSection == 'skills'"></app-skills>
            <app-tools *ngIf="!showSideBar && actualSection == 'tools'"></app-tools>
            <app-methodologies *ngIf="!showSideBar && actualSection == 'methodologies'"></app-methodologies>
            <app-interests *ngIf="!showSideBar && actualSection == 'interests'"></app-interests>
            <app-certifications *ngIf="!showSideBar && actualSection == 'certifications'"></app-certifications>
            <app-trainings *ngIf="!showSideBar && actualSection == 'trainings'"></app-trainings>
            <app-languages *ngIf="!showSideBar && actualSection == 'language'"></app-languages>

          </aside>
        </div>
        <div class="column">
          <app-resume-preview [selectedTemplate]="(selectedTemplate)"></app-resume-preview>
        </div>

      </div>
  </div>
</section>
