.hero {
  width: 100%;
  position: fixed;
  min-height: 100vh;
  background-color: #777777;
}

.menu-label {
  color: initial;
}

#inner {
  border: 0.05em solid black;
}

#outer {
  border: 0.05em solid red;
  width:100%;
  display: flex;
  justify-content: center;
}

/*.container .xd {*/
/*  margin: 0 auto;*/
/*}*/

/*.hero-body {*/
/*  max-height: 20cm;*/
/*  overflow-y: auto; !* Enable sidebar scrolling if needed *!*/
/*}*/
