.hero {
  width: 100%;
  position: fixed;
  min-height: 100vh;
  background-color: #777777;
}

.menu-label {
  color: initial;
}

#inner {
  border: 0.05em solid black;
}

#outer {
  border: 0.05em solid red;
  width:100%;
  display: flex;
  justify-content: center;
}

/*a.actualSection :hover{*/
/*  color: #485fc7;*/
/*}*/
a.actualSection :active {
  color: #485fc7;
}

.text-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 600px) {
  .text-container {
    text-overflow: ellipsis;
    width: 80%; /* Adjust width as needed */
  }
}

/*.container .xd {*/
/*  margin: 0 auto;*/
/*}*/

/*.hero-body {*/
/*  max-height: 20cm;*/
/*  overflow-y: auto; !* Enable sidebar scrolling if needed *!*/
/*}*/
