<div class="container is-vcentered">
  <!-- <section class="section"> -->
  <!-- <div class="box"> -->
  <div class="columns is-2">

    <!-- first part -->
    <div class="column is-5">

      <fieldset class="box summary">
        <!-- <legend class="tag is-info is-medium">Summary</legend> -->
        <div class="block">
          <div class="block-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                  <img class="is-rounded" src="alex-retouchC.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="box education pt-0">
        <legend class="tag is-info is-medium">Education</legend>
        <div class="content">
          <ul>
            <li class="heading"><strong>Computer Engineering</strong></li>
            <div class="columns is-2 is-size-7">
              <div class="column">
                <p class="column-content has-text-leftt">
                  <span>B. Eng., HTW Berlin</span>
                </p>
              </div>
              <div class="column has-text-right is-size-7">
                <p>
                  <span>Apr. 2017</span>
                  <span>-</span>
                  <span>März 2022</span>
                </p>
              </div>
            </div>
            <li class="heading"><strong>Baccalaureat mathematics and physical sciences</strong>
            </li>
            <div class="columns is-2 is-size-7">
              <div class="column">
                <p class="column-content has-text-leftt">
                  <span>High school diploma, Cameroun</span>
                </p>
              </div>
              <div class="column has-text-right is-size-7">
                <p>
                  <span>2006</span>
                  <span>-</span>
                  <span>2014</span>
                </p>
              </div>
            </div>
          </ul>
        </div>
      </fieldset>

      <fieldset class="box technical-experiences pt-2">
        <legend class="tag is-info is-medium">Technical Experiences</legend>

        <table class="table  is-narrow is-fullwidth">
          <thead>
          <tr>
            <th>Category</th>
            <th>Skill</th>
            <th>Level</th>
          </tr>
          </thead>
          <tbody class="is-vcentered has-text-centered">
          <!-- Programming Languages -->
          <tr>
            <td class="is-vcentered has-text-centered" rowspan="5">Programming Languages
            </td>
            <td class="is-vcentered has-text-centered">Java</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="60" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered">TypeScript</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="50" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered">JavaScript</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="50" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered">c++</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="40" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered">Ruby</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="25" max="100"></progress>
            <td class="is-vcentered has-text-centered">
          </tr>

          <!-- Framework -->
          <tr>
            <td class="is-vcentered has-text-centered" rowspan="4">Framework</td>
            <td class="is-vcentered has-text-centered">Spring Boot</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="60" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered">Angular</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="60" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered">NodeJs</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="40" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered">Ruby on Rails</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="30" max="100"></progress>
            </td>
          </tr>

          <!-- Testing -->
          <tr>
            <td class="is-vcentered has-text-centered" rowspan="4">Testing</td>
            <td class="is-vcentered has-text-centered">Junit</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="50" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered">Karma
            </td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="30" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered">Cypress
            </td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="30" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered">Jest
            </td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="30" max="100"></progress>
            </td>
          </tr>

          <!-- Message Brokers / Middleware -->
          <tr>
            <td class="is-vcentered has-text-centered" rowspan="2">Message Brokers /
              Middleware
            </td>
            <td class="is-vcentered has-text-centered">Google Pubsub</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="40" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered">NATS.io
            </td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="40" max="100"></progress>
            </td>
          </tr>

          <!-- Database -->
          <tr>
            <td class="is-vcentered has-text-centered" rowspan="2">Database</td>
            <td class="is-vcentered has-text-centered">PostgreSQL</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="60" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered">Bigquerry
            </td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="40" max="100"></progress>
            </td>
          </tr>

          <!-- Cloud Solution -->
          <tr>
            <td class="is-vcentered has-text-centered" rowspan="2">Cloud Solution</td>
            <td class="is-vcentered has-text-centered">Google Cloud</td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="40" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td class="is-vcentered has-text-centered"> Azure
            </td>
            <td class="is-vcentered has-text-centered">
              <progress class="progress is-info is-small" value="30" max="100"></progress>
            </td>
          </tr>
          <tr></tr>
          <!-- ... (continue for other skills) ... -->

          </tbody>
        </table>
      </fieldset>

      <fieldset class="box hobbies pt-2">
        <legend class="tag is-info is-medium">Hobbies and interests</legend>
        <div class="content">
          <div class="columns is-multiline">
            <div class="column is-4">
              <div class="has-text-centered">
                                            <span class="icon is-large">
                                                <i class="ri-book-open-line"></i>
                                            </span>
                <p class="is-size-6">Reading</p>
              </div>
            </div>
            <div class="column is-4">
              <div class="has-text-centered">
                                            <span class="icon is-large">
                                                <i class="ri-music-fill"></i>
                                            </span>
                <p class="is-size-6">Playing the Piano</p>
              </div>
            </div>
            <div class="column is-4">
              <div class="has-text-centered">
                                            <span class="icon is-large">
                                                <i class="ri-football-fill"></i>
                                            </span>
                <p class="is-size-6">Sports</p>
              </div>
            </div>
            <div class="column is-4">
              <div class="has-text-centered">
                                            <span class="icon is-large">
                                                <i class="ri-home-8-line"></i>
                                            </span>
                <p class="is-size-6">DIY (Do It Yourself)</p>
              </div>
            </div>

            <div class="column is-4">
              <div class="has-text-centered">
                                            <span class="icon is-large">
                                                <i class="ri-suitcase-2-line"></i>
                                            </span>
                <p class="is-size-6">Travel</p>
              </div>
            </div>
            <!-- Add more columns for additional hobbies or interests -->
          </div>
        </div>

      </fieldset>

    </div>

    <!-- second part -->
    <div class="column">

      <fieldset class="box personal-info pt-1">
        <legend class="legend is-size-3">Nom Prenom</legend>
        <div class="columns is-2">
          <div class="column">
            <p class="column-content has-text-left">
              <span>Profession: [your profession]</span><br>
              <span>Titel: B. Eng.</span><br>
              <span>Relevant Experience: [years of experience]</span><br>
              <span>Number of Professional Projects: [number]</span><br>
              <span>Website: [your website]</span>
            </p>
          </div>
          <div class="column has-text-right">
            <p>
              <span>Phone: [your phone]</span><br>
              <span>Email: [your email]</span><br>
              <span>Git: [your git]</span><br>
              <span>LinkedIn: [your LinkedIn]</span><br>
              <span>Location: [your location]</span>
            </p>
          </div>
        </div>
      </fieldset>

      <!-- <fieldset class="box personal-info pt-1">
          <legend class="legend is-size-3">Nom Prenom</legend>
          <div class="columns is-2 ">
              <div class="column">
                  <p class="column-content has-text-leftt">
                      <span>profession</span><br>
                      <span>titel: B. Eng.</span><br>
                      <span>relevant_experience_years</span><br>
                      <span>nombre de boulo pro</span><br>
                      <span>webside</span>
                  </p>
              </div>
              <div class="column has-text-right">
                  <p>
                      <span>phone</span><br>
                      <span>mail</span><br>
                      <span>git</span><br>
                      <span>linkedln</span><br>
                      <span>location</span>
                  </p>
              </div>
          </div>

      </fieldset> -->

      <fieldset class="box work-experiences">
        <legend class="tag is-info is-medium">Work Experiences</legend>

        <div class="timeline">
          <div class="timeline-item is-black is-block">
            <div class="timeline-marker is-primary is-image is-16x16"></div>
            <div class="timeline-content ">
              <div class="columns is-2 mb-0">
                <div class="column">
                  <p class="column-content has-text-leftt">
                    <span class="heading"><strong>company x</strong></span>
                    <span class="heading">post</span>
                  </p>
                </div>
                <div class="column has-text-right">
                  <p>
                    <span>date de debut</span>
                    <span>-</span>
                    <span>date de fin</span>
                  </p>
                </div>
              </div>
              <p>work experience description</p>
            </div>
          </div>
          <div class="timeline-item is-black is-block">
            <div class="timeline-marker is-primary is-image is-16x16"></div>
            <div class="timeline-content ">
              <div class="columns is-2 mb-0">
                <div class="column">
                  <p class="column-content has-text-leftt">
                    <span class="heading"><strong>company x</strong></span>
                    <span class="heading">post</span>
                  </p>
                </div>
                <div class="column has-text-right">
                  <p>
                    <span>date de debut</span>
                    <span>-</span>
                    <span>date de fin</span>
                  </p>
                </div>
              </div>
              <p>work experience description</p>
            </div>
          </div>
          <div class="timeline-item is-black is-block">
            <div class="timeline-marker is-primary is-image is-16x16"></div>
            <div class="timeline-content ">
              <div class="columns is-2 mb-0">
                <div class="column">
                  <p class="column-content has-text-leftt">
                    <span class="heading"><strong>company x</strong></span>
                    <span class="heading">post</span>
                  </p>
                </div>
                <div class="column has-text-right">
                  <p>
                    <span>date de debut</span>
                    <span>-</span>
                    <span>date de fin</span>
                  </p>
                </div>
              </div>
              <p>work experience description</p>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="box skills">
        <legend class="tag is-info is-light is-medium">Skills</legend>
        <div class="tags">
          <span class="tag is-primary is-light has-text-black">Kubernetes</span>
          <span class="tag is-primary is-light has-text-black">Go</span>
          <span class="tag is-primary is-light has-text-black">HTML</span>
          <span class="tag is-primary is-light has-text-black">CSS</span>
          <span class="tag is-primary is-light has-text-black">Solidity</span>
          <span class="tag is-primary is-light has-text-black">SQL</span>
          <span class="tag is-primary is-light has-text-black">Docker</span>
          <span class="tag is-primary is-light has-text-black">Terraform</span>
          <span class="tag is-primary is-light has-text-black">Github Action</span>
          <span class="tag is-primary is-light has-text-black">Ansible</span>
          <span class="tag is-primary is-light has-text-black">Jenkins</span>
          <span class="tag is-primary is-light has-text-black">Helm</span>
          <span class="tag is-primary is-light has-text-black">Shell</span>
          <span class="tag is-primary is-light has-text-black">Maven</span>
          <span class="tag is-primary is-light has-text-black">Gradle</span>
          <span class="tag is-primary is-light has-text-black">Hibernate</span>
          <span class="tag is-primary is-light has-text-black">RESTful APIs</span>
          <span class="tag is-primary is-light has-text-black">Frontend</span>
          <span class="tag is-primary is-light has-text-black">Backend</span>
        </div>
      </fieldset>

      <fieldset class="box tools">
        <legend class="tag is-info is-light is-medium">Tools</legend>
        <div class=" tags">
          <span class="tag is-primary is-light has-text-black">Git</span>
          <span class="tag is-primary is-light has-text-black">IntelliJ</span>
          <span class="tag is-primary is-light has-text-black">VS Code</span>
          <span class="tag is-primary is-light has-text-black">Jira</span>
          <span class="tag is-primary is-light has-text-black">Confluence</span>
          <span class="tag is-primary is-light has-text-black">Windows</span>
          <span class="tag is-primary is-light has-text-black">Linux</span>
          <span class="tag is-primary is-light has-text-black">Confluence</span>
          <span class="tag is-primary is-light has-text-black">Swagger</span>
          <span class="tag is-primary is-light has-text-black">Postman</span>
        </div>
      </fieldset>

      <fieldset class="box methodology">
        <legend class="tag is-info is-light is-medium">Methodology</legend>
        <div class="tags is-small">
          <span class="tag is-primary is-light has-text-black">MVC</span>
          <span class="tag is-primary is-light has-text-black">OOP</span>
          <span class="tag is-primary is-light has-text-black">UML</span>
          <span class="tag is-primary is-light has-text-black">Test Driven Development</span>
          <span class="tag is-primary is-light has-text-black">Scrum</span>
          <span class="tag is-primary is-light has-text-black">Agile</span>
          <span class="tag is-primary is-light has-text-black">IaC</span>
          <span class="tag is-primary is-light has-text-black">Kanban</span>
          <span class="tag is-primary is-light has-text-black">Design Pattern</span>
          <span class="tag is-primary is-light has-text-black">BPMN</span>
          <span class="tag is-primary is-light has-text-black">Pair Programming</span>
        </div>
      </fieldset>

      <fieldset class="box trainings-certifications  pt-1">
        <legend class="tag is-info is-light is-medium">Trainings and Certifications</legend>
        <div class="content">
          <ul>
            <li>Google Cloud Associate Cloud Engineer, valid until 08/2026</li>
            <li>Udemy Cours NgRx (with NgRx Data)</li>
            <li>Adeesso Interne Training Clean Code</li>
            <li>Udemy Cours Java Dessign Pattern</li>
          </ul>
        </div>
      </fieldset>

      <fieldset class="box trainings-certifications  pt-1">
        <legend class="tag is-info is-light is-medium">Dummi</legend>
        <div class="content">
          <ul>
            <li>Google Cloud Associate Cloud Engineer, valid until 08/2026</li>
            <li>Udemy Cours NgRx (with NgRx Data)</li>
            <li>Adeesso Interne Training Clean Code</li>
            <li>Udemy Cours Java Dessign Pattern</li>
          </ul>
        </div>
      </fieldset>

    </div>

    <!-- </div> -->
    <!-- </div> -->
    <!-- </section> -->
  </div>
</div>
