<div *ngIf="(userBasicData$ | async) as basic_data" class="m-1">

  <app-input-with-icon-text [label]="'Title'"
                            [placeholder]="'Title'"
                            name="title"
                            ngDefaultControl
                            type="text"
                            [inputValue]="basic_data.title"
                            [(ngModel)]="basic_data.title">
  </app-input-with-icon-text>

  <app-input-with-icon-text [label]="'Profession'"
                            [placeholder]="'Profession'"
                            name="profession"
                            ngDefaultControl
                            type="text"
                            [inputValue]="basic_data.profession"
                            [(ngModel)]="basic_data.profession">
  </app-input-with-icon-text>

  <app-input-with-icon-text [label]="'Years'"
                            [placeholder]="'Years'"
                            name="relevantExperienceYears"
                            ngDefaultControl
                            type="number"
                            [inputValue]="basic_data.relevantExperienceYears"
                            [(ngModel)]="basic_data.relevantExperienceYears">
  </app-input-with-icon-text>

  <app-input-with-icon-text [label]="'Phone'"
                            [placeholder]="'Phone'"
                            name="mobilePhoneNumber"
                            ngDefaultControl
                            type="tel"
                            [inputValue]="basic_data.mobilePhoneNumber"
                            [(ngModel)]="basic_data.mobilePhoneNumber">
  </app-input-with-icon-text>

  <app-input-with-icon-text [label]="'Location'"
                            [placeholder]="'Location'"
                            name="location"
                            ngDefaultControl
                            type="text"
                            [inputValue]="basic_data.location"
                            [(ngModel)]="basic_data.location">
  </app-input-with-icon-text>
  <div class="field-body is-grouped">
      <div class="field">
        <label class="label">Summary About you</label>
        <div class="control">
          <app-quill (textChanged)="onSummaryChanged($event)"
                     [text]="basic_data.summary"></app-quill>
        </div>
      </div>
    </div>
  </div>

