
  <ng-container *ngIf="(data$ | async) as values">
    <div class="field is-grouped is-grouped-multiline ml-4 ">
      <ng-container *ngFor="let value of values">
        <div class="control mb-2">
          <div class="tags has-addons">
            <span class="tag is-dark">{{ value }}</span>
            <span (click)="deleteValue(values, value)" class="tag is-delete"></span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <p class="control is-expanded mr-1 ml-1">
        <app-input-with-icon-text [(ngModel)]="newValue"
                                  [inputValue]="newValue"
                                  [label]="''"
                                  [placeholder]="'Add a new ' + valuesType + ' ...'"
                                  ngDefaultControl
                                  type="text">
        </app-input-with-icon-text>
      </p>
      <p class="control mr-1">
        <button (click)="addValue(values)"
                class="button is-small is-primary  is-light is-rounded is-focused"
                title="Add a new {{valuesType}}"
                type="submit">
                <span class="icon is-small">
                  <i class="ri-add-box-fill"></i>
                </span>
        </button>
      </p>
    </div>
  </ng-container>
