<nav class="navbar is-fixed-top">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <span class="navbar-item">
        <a (click)="openModal()" class="button is-small is-inverted">
          <span class="icon">
            <i class="ri-file-list-2-line"></i>
          </span>
          <span>Templates</span>
        </a>
      </span>
      <span class="navbar-burger" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div class="navbar-menu" id="navbarMenuHeroA">
      <div class="navbar-end">
        <span class="navbar-item p-1">
          <a class="button is-small is-inverted">
            <span class="icon">
              <i class="ri-download-2-line"></i>
            </span>
            <span>Save</span>
          </a>
        </span>
        <span class="navbar-item p-1">
          <a class="button is-small is-inverted">
            <span class="icon">
              <i class="ri-download-2-line"></i>
            </span>
            <span>Export</span>
          </a>
        </span>
        <span class="navbar-item p-1">
          <a class="button is-small is-inverted">
            <span class="icon">
              <i class="ri-download-2-line"></i>
            </span>
            <span>Download As PDF</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</nav>
