<nav class="navbar has-background-info-dark" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="button is-light is-small" (click)="openModal()">
            <strong>Templates</strong>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons are-small">
          <a class="button is-light">
            <strong>save</strong>
          </a>
          <a class="button is-light">
            <strong>print</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
