<div *ngIf="(userData.userData$ | async) as data">

  <app-input-with-icon-text [label]="'FirstName'"
                            [placeholder]="'FirstName'"
                            name="firstName"
                            ngDefaultControl
                            type="text"
                            [inputValue]="data.firstName"
                            [(ngModel)]="data.firstName">
  </app-input-with-icon-text>

  <app-input-with-icon-text [label]="'Last Name'"
                            [placeholder]="'Last Name'"
                            name="lastName"
                            ngDefaultControl
                            type="text"
                            [inputValue]="data.lastName"
                            [(ngModel)]="data.lastName">
  </app-input-with-icon-text>

  <app-input-with-icon-text [label]="'Email'"
                            [placeholder]="'Email'"
                            name="email"
                            ngDefaultControl
                            type="email"
                            [inputValue]="data.email"
                            [(ngModel)]="data.email">
  </app-input-with-icon-text>
</div>
