<div *ngIf="(userTechExperiences$ | async) as techExperiences">
  <ng-container *ngFor="let techExperience of techExperiences">
    <div class="card m-2 is-size-7">
      <header class="card-header">
        <p class="card-header-title">{{ techExperience.topic }}</p>
        <button (click)="deleteTechExperiences(techExperience)" aria-label="more options" class="card-header-icon">
          <span class="icon">
            <i aria-hidden="true" class="ri-close-line"></i>
          </span>
        </button>
        <button (click)="toggleTechExperience(techExperience)" aria-label="more options" class="card-header-icon">
          <span class="icon">
            <i *ngIf="techExperience.showContent===false" aria-hidden="true" class="ri-arrow-down-s-line"></i>
            <i *ngIf="techExperience.showContent===true" aria-hidden="true" class="ri-arrow-up-s-line"></i>
          </span>
        </button>
      </header>
      <div class="card-content m-0 p-2" [ngClass]="{ 'is-hidden': techExperience.showContent===false }">
        <div class="field">
          <div class="field-body is-justify-content-center">
            <p class="control">
              <app-input-with-icon-text [label]="'Topic'"
                                        [placeholder]="'Topic'"
                                        name="topic"
                                        ngDefaultControl
                                        type="text"
                                        [inputValue]="techExperience.topic"
                                        [(ngModel)]="techExperience.topic">
              </app-input-with-icon-text>
            </p>
            <p class="control" *ngIf="techExperience.topic !== ''">
              <button class="button ml-1 is-small is-primary  is-light is-rounded is-focused"
                      title="Add a Tech to this Topic"
                      type="submit"
                      (click)="addTechDetails(techExperience)">
                <span class="icon is-small">
                  <i class="ri-add-box-fill"></i>
                </span>
              </button>
            </p>
          </div>
        </div>
        <fieldset [disabled]="techExperience.topic.length <= 0">
          <div class="field">
            <div class="control">
              <table class="table is-size-7 is-narrow is-fullwidth">
                <thead>
                <tr>
                  <th class="has-text-centered">Name</th>
                  <th class="has-text-centered">Level</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let technicalDetail of techExperience.technicalDetails">
                  <td class="is-vcentered pt-2">
                    <app-input-with-icon-text [label]="'Tech'"
                                              name="name"
                                              ngDefaultControl
                                              type="text"
                                              [inputValue]="technicalDetail.name"
                                              [(ngModel)]="technicalDetail.name">
                    </app-input-with-icon-text>
                  </td>
                  <td class="is-grouped is-grouped-centered" style="width: 75px">
                    <div class="field has-addons">
                      <p class="control pt-2">
                        <app-input-with-icon-text name="level"
                                                  ngDefaultControl
                                                  type="number"
                                                  [minNumber]="1"
                                                  [step]="1"
                                                  style="padding: 0"
                                                  [inputValue]="technicalDetail.level"
                                                  [(ngModel)]="technicalDetail.level">
                        </app-input-with-icon-text>
                      </p>
                      <p class="control is-justify-content-center is-align-content-center"
                         *ngIf="(technicalDetail.name.length > 0 && techExperience.topic.length > 0) ">
                        <button class="button p-0 is-small has-background-grey-dark  has-text-danger"
                           (click)="removeTechDetails(techExperience, technicalDetail)">
                          <i class="ri-close-circle-line"></i>
                        </button>
                      </p>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </fieldset>

      </div>
    </div>
  </ng-container>
</div>
<div class="field m-1 p-2 is-flex is-justify-content-center">
  <button class="button is-small is-primary is-light is-rounded is-focused" type="submit" (click)="addTechExperience()">
    <span class="icon is-small">
      <i class="ri-add-box-fill"></i>
    </span>
    <span>Add</span>
  </button>
</div>

