<div *ngIf="(userNetworks$ | async) as networks">
  <ng-container *ngFor="let network of networks">
    <div class="card m-2">
      <header class="card-header">
        <p class="card-header-title">{{ network.referenceName }}</p>
        <button class="card-header-icon" aria-label="delete" (click)="deleteNetwork(network)">
          <span class="icon">
            <i class="ri-close-line" aria-hidden="true"></i>
          </span>
        </button>
        <button class="card-header-icon" aria-label="show" (click)="toggleContent(network)">
          <span class="icon">
            <i class="ri-arrow-down-s-line" aria-hidden="true" *ngIf="network.showContent===false"></i>
            <i class="ri-arrow-up-s-line" aria-hidden="true" *ngIf="network.showContent===true"></i>
          </span>
        </button>
      </header>
      <div class="card-content has-text-centered" [ngClass]="{ 'is-hidden': network.showContent===false }">
        <div class="field">
          <div class="field-body">
            <div class="field">
              <input [(ngModel)]="network.name"
                     [size]="network.name.length <= 0 ? 1 : network.name.length" class="input control"
                     placeholder="Username"
                     type="text">
            </div>
            <div class="field">
              <input [(ngModel)]="network.referenceName"
                     [size]="network.referenceName.length <= 0 ? 1 : network.referenceName.length"
                     class="input control"
                     placeholder="Network"
                     type="text">
            </div>
            <div class="field">
              <input [(ngModel)]="network.link"
                     [size]="network.link.length <= 0 ? 1 : network.referenceName.length" class="input control"
                     placeholder="Link"
                     type="url">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="field m-1 p-2">
  <button class="button control is-primary" type="submit" (click)="addNetwork()">Add Network</button>
</div>
