<div *ngIf="(userNetworks$ | async) as networks">
  <ng-container *ngFor="let network of networks">
    <div class="card m-2 is-size-7">
      <header class="card-header">
        <h6 class="card-header-title">{{ network.referenceName }}</h6>
        <button class="card-header-icon" aria-label="delete" (click)="deleteNetwork(network)">
          <span class="icon">
            <i class="ri-close-line" aria-hidden="true"></i>
          </span>
        </button>
        <button class="card-header-icon" aria-label="show" (click)="toggleContent(network)">
          <span class="icon">
            <i class="ri-arrow-down-s-line" aria-hidden="true" *ngIf="network.showContent===false"></i>
            <i class="ri-arrow-up-s-line" aria-hidden="true" *ngIf="network.showContent===true"></i>
          </span>
        </button>
      </header>
      <div class="card-content m-0 p-2" [ngClass]="{ 'is-hidden': network.showContent===false }">
        <div>
          <app-input-with-icon-text [label]="'User Name'"
                                    [placeholder]="'User Name'"
                                    name="user name"
                                    ngDefaultControl
                                    type="text"
                                    [inputValue]="network.name"
                                    [(ngModel)]="network.name">
          </app-input-with-icon-text>
          <app-input-with-icon-text [label]="'Network'"
                                    [placeholder]="'Network'"
                                    name="network"
                                    ngDefaultControl
                                    type="url"
                                    [inputValue]="network.referenceName"
                                    [(ngModel)]="network.referenceName">
          </app-input-with-icon-text>
          <app-input-with-icon-text [label]="'Link'"
                                    [placeholder]="'Link'"
                                    name="link"
                                    ngDefaultControl
                                    type="url"
                                    [inputValue]="network.link"
                                    [(ngModel)]="network.link">
          </app-input-with-icon-text>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="field m-1 p-2 is-flex is-justify-content-center">
  <button class="button is-small is-primary is-light is-rounded is-focused" type="submit" (click)="addNetwork()">
    <span class="icon is-small">
      <i class="ri-add-box-fill"></i>
    </span>
    <span>Add</span>
  </button>
</div>
