<div *ngIf="(userWorkExperiences$ | async) as workExperiences">
  <ng-container *ngFor="let workExperience of workExperiences">
    <div class="card m-2">
      <header class="card-header">
        <p class="card-header-title">{{ workExperience.company }}</p>
        <button class="card-header-icon" aria-label="more options" (click)="deleteWorkExperience(workExperience)">
          <span class="icon">
            <i class="ri-close-line" aria-hidden="true"></i>
          </span>
        </button>
        <button class="card-header-icon" aria-label="more options" (click)="toggleWorkExperience(workExperience)">
          <span class="icon">
            <i class="ri-arrow-down-s-line" aria-hidden="true" *ngIf="workExperience.showContent===false"></i>
            <i class="ri-arrow-up-s-line" aria-hidden="true" *ngIf="workExperience.showContent===true"></i>
          </span>
        </button>
      </header>
      <div class="card-content m-0 p-2" [ngClass]="{ 'is-hidden': workExperience.showContent===false }">
        <div class="field">
          <div class="field-body m-1 p-1">
            <div class="field">
              <label class="label" *ngIf="workExperience.company.length <= 0">Company</label>
              <input class="input control" type="text" placeholder="e.g Company XYZ"
                     [(ngModel)]="workExperience.company" name="company">
            </div>
          </div>
          <div class="field-body m-1 p-1">
            <div class="field">
              <label class="label" *ngIf="workExperience.occupiedPosition.length <= 0">Company</label>
              <input class="input control" type="text" placeholder="e.g Software Developer"
                     [(ngModel)]="workExperience.occupiedPosition" name="position">
            </div>
            <div class="field">
              <label class="label" *ngIf="workExperience.duration.length <= 0">Duration</label>
              <input class="input control" type="text" [size]="workExperience.duration.length +1"
                     placeholder="e.g 5 years" [(ngModel)]="workExperience.duration" name="duration">
            </div>
          </div>
          <div class="field-body m-1 p-1">
            <div class="field">
              <label class="label" *ngIf="workExperience.companyCity.length <= 0">City</label>
              <input class="input control" type="text" placeholder="e.g Berlin"
                     [(ngModel)]="workExperience.companyCity" name="companyCity">
            </div>
            <div class="field">
              <label class="label" *ngIf="workExperience.companyLink.length <= 0">Link</label>
              <input class="input control" type="text" placeholder="Company URL"
                     [(ngModel)]="workExperience.companyLink" name="companyLink">
            </div>
          </div>
          <div class="field-body m-1 p-1 is-grouped">
            <div class="field">
              <label class="label" *ngIf="workExperience.startDate.length <= 0">Start Date</label>
              <input [(ngModel)]="workExperience.startDate" class="input control" name="startDate"
                     type="month">
            </div>
            <div class="field">
              <label class="label" *ngIf="workExperience.endDate.length <= 0">End Date</label>
              <input class="input control" type="month"
                     [(ngModel)]="workExperience.endDate" name="endDate">
            </div>
          </div>
          <div class="field-body m-1 p-1 is-grouped">
            <div class="field">
              <label class="label">Few points on this work experience:</label>
              <div class="control">
                <app-quill (textChanged)="onSummaryChanged(workExperience,$event)"
                           [text]="workExperience.summary"></app-quill>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="field m-1 p-2">
  <button (click)="addWorkExperience()" class="button control is-primary" type="submit">Add Work Experience</button>
</div>

<!--<div class="field w-field">-->
<!--  <label class="label w-label">Username</label>-->
<!--  <div class="control has-icons-left">-->
<!--    <input class="input w-input" type="text" placeholder="Username">-->
<!--    <span class="icon is-small is-left">-->
<!--                <i class="fas fa-user"> test </i>-->
<!--              </span>-->
<!--  </div>-->
<!--</div>-->
