<div *ngIf="(userEducations$ | async) as educations">
  <ng-container *ngFor="let education of educations">
    <div class="card m-2">
      <header class="card-header">
        <p class="card-header-title">{{ education.school }}</p>
        <button class="card-header-icon" aria-label="delete" (click)="deleteEducation(education)">
          <span class="icon">
            <i class="ri-close-line" aria-hidden="true"></i>
          </span>
        </button>
        <button class="card-header-icon" aria-label="show" (click)="toggleEducation(education)">
          <span class="icon">
            <i class="ri-arrow-down-s-line" aria-hidden="true" *ngIf="education.showContent===false"></i>
            <i class="ri-arrow-up-s-line" aria-hidden="true" *ngIf="education.showContent===true"></i>
          </span>
        </button>
      </header>
      <div class="card-content has-text-centered" [ngClass]="{ 'is-hidden': education.showContent===false }">
        <app-input-with-icon-text [label]="'University'"
                                  [placeholder]="'e.g University of XYZ'"
                                  name="university"
                                  ngDefaultControl
                                  type="text"
                                  [inputValue]="education.school"
                                  [(ngModel)]="education.school">
        </app-input-with-icon-text>
        <app-input-with-icon-text [label]="'Degree'"
                                  [placeholder]="'Bachelor'"
                                  name="degree"
                                  ngDefaultControl
                                  type="text"
                                  [inputValue]="education.degree"
                                  [(ngModel)]="education.degree">
        </app-input-with-icon-text>
        <app-input-with-icon-text [label]="'Faculty'"
                                  [placeholder]="'IT'"
                                  name="faculty"
                                  ngDefaultControl
                                  type="text"
                                  [inputValue]="education.field"
                                  [(ngModel)]="education.field">
        </app-input-with-icon-text>
        <app-input-with-icon-text [label]="'Start Date'"
                                  name="start date"
                                  ngDefaultControl
                                  type="month"
                                  [inputValue]="education.startDate"
                                  [(ngModel)]="education.startDate">
        </app-input-with-icon-text>
        <app-input-with-icon-text [label]="'End Date'"
                                  name="end date"
                                  ngDefaultControl
                                  type="month"
                                  [inputValue]="education.endDate"
                                  [(ngModel)]="education.endDate">
        </app-input-with-icon-text>
        <app-input-with-icon-text *ngIf="education.grade"
                                  [label]="'Grade'"
                                  name="grade"
                                  ngDefaultControl
                                  type="text"
                                  [inputValue]="education.grade"
                                  [(ngModel)]="education.grade">
        </app-input-with-icon-text>
        <app-input-with-icon-text *ngIf="education.description"
                                  [label]="'Description'"
                                  name="description"
                                  ngDefaultControl
                                  type="text"
                                  [inputValue]="education.description"
                                  [(ngModel)]="education.description">
        </app-input-with-icon-text>

        <button class="button is-small is-ghost" *ngIf="!(showDescriptionAndGradeSection$ | async)"
                (click)="showDescriptionAndGradeSection()">
          Add a description or your grade?
        </button>

        <ng-container *ngIf="(showDescriptionAndGradeSection$ | async)">
          <div class="field">
            <div class="control">
              <div class="select is-fullwidth is-small is-rounded">
                <select [(ngModel)]="selectedOption">
                  <option *ngFor="let option of options">{{ option }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field" *ngIf=" selectedOption == options[0]">
            <div class="field-body is-grouped">
              <div class="field is-rounded">
                <label class="label is-small">Add The Description your Faculty</label>
                <div class="control">
                  <app-quill (textChanged)="onDescriptionChanged($event)"
                             [text]="inputValue"></app-quill>
                </div>
              </div>
            </div>
          </div>

          <app-input-with-icon-text *ngIf="selectedOption == options[1]"
                                    [label]="options[1]"
                                    [placeholder]="options[1]"
                                    [name]="options[1]"
                                    ngDefaultControl
                                    type="text"
                                    [inputValue]="inputValue"
                                    [(ngModel)]="inputValue">
          </app-input-with-icon-text>

          <div class="field is-rounded is-grouped is-grouped-centered">
            <p class="control">
              <button class="button is-small is-primary is-light is-rounded is-focused is-disabled"
                      type="submit"
                      [disabled]="inputValue.length <= 0"
                      (click)="addEducationDescriptionOrGrade(selectedOption, inputValue, education)">
                <span class="icon is-small">
                  <i class="ri-add-box-fill"></i>
                </span>
                <span>Add</span>
              </button>
            </p>
            <p class="control">
              <button class="button is-small is-warning is-light is-rounded is-focused"
                      type="reset"
                      (click)="resetEducationDescriptionAndGrade()">
                <span class="icon is-small">
                  <i class="ri-close-circle-fill"></i>
                </span>
                <span>Cancel</span>
              </button>
            </p>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
<div class="field m-1 p-2 is-flex is-justify-content-center">
  <button class="button is-small is-primary is-light is-rounded is-focused" type="submit" (click)="addEducation()">
    <span class="icon is-small">
      <i class="ri-add-box-fill"></i>
    </span>
    <span>Add</span>
  </button>
</div>

